<% provide :page_title, 'Scores' %>

<% if no_data? %>
  <div class="alert alert-warning" role="alert">
    No data available yet.
  </div>
<% else %>
  <%= render 'table' %>
<% end %>

<div>
</div>

<div>
  <%= render 'chart' unless no_data? %>
</div>
