<h1>Cooking Challenge</h1>
<h2>Scores</h2>

<p>
<% if no_data? %>
  No data available yet.
<% else %>
  <ol>
    <% @teams.sort_by(&:score).reverse.each do |team| %>
      <li><%= team.name %>: <%= team.score %></li>
    <% end %>
  </ol>
<% end %>
</p>

<p>
  <%= link_to 'Manage data', rails_admin.dashboard_path %>
</p>

<%= render 'chart' unless no_data? %>
